.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App>* {
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
}

.toggle-admin {
    position: absolute;
    width: max-content;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    color: darkslategray;
    text-decoration: underline;
}

.toggle-admin:hover {
    color: aqua;
    border: 1px solid aqua;
}

/* keep .hidden at bottom of stylesheet */
.hidden {
    display: none;
}