.PayIn {
    width: 0.5rem;
    height: 3rem;
    border: 2px solid black;
    position: relative;
    background-color: rgb(18, 17, 17);
    box-shadow: inset 0 0 1px 1px rgba(255, 217, 0, 0.164);
}

#coin-price {
    font-family: 'Caveat', cursive;
    position: absolute;
    left: -2rem;
    bottom: -4.5rem;
    font-size: 4rem;
    z-index: 22;
    color: rgb(56, 63, 69);
}