.RulesDisplay {

    display: flex;
    flex-direction: row;
}

.Rules {
    background-color: hsl(254, 50%, 50%);
    text-align: center;
    border: 5px solid rgb(8, 8, 8);
    margin-left: 40px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    height: 200px;


}

.Scoring {
    display: flex;
    flex-direction: column;
    background-color: hsl(254, 50%, 50%);
    text-align: center;
    border: 5px solid rgb(8, 8, 8);
    margin-left: 40px;
    margin-right: auto;
    margin-top: 0px;
    width: 500px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    height: 200px;
}

.Scoring>div {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;


}

.Scoring>div>p {
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 5px;

}