.UserExistingSelect {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.UserExistingSelect>select {
    padding: 0.4rem 1.2rem;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;

}

.UserExistingSelect:hover {
    color: gold;
    border-radius: 10%;

}

.UserExistingSelect>select:hover {
    cursor: pointer;
}