.UserNewForm {}

.UserNewForm input {
    background-color: rgb(2, 0, 15);
    border: none;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    margin-right: 0.6rem;
    padding: 0.4rem 1.2rem;
}

.UserNewForm input:hover {
    cursor: pointer;
}